@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-mint-500: ##abd1c6;
  --color-forest-500: #004643;
  --color-milky-500: #f8f5f2;
  --color-brown-100: #f9bc60;
  --color-brown-500: #e16162;
}

body {
  font-family: monospace;
}

.brandName {
  font-family: "Fleur De Leah", cursive;
}

/* .page {
  padding-top: 5%;
} */

#home {
  padding-top: 8%;
}

/* styles.css */

.scaleTransition {
  @apply transition-all duration-300 hover:scale-105 hover:shadow-2xl;
}

.hoverEffect {
  @apply transition-all duration-500 hover:scale-150;
}
